a{
    color:black;
   
    text-decoration: none;
    
   }
   
a:hover {
    color:rgb(131, 247, 42);
   }
   .container{
     margin-top:15%;
     text-decoration: none;
   }
   
   .intro{
     margin-bottom:50px;
   }
   
   .else{
     margin-top:50px;
   }
   
   a {
       text-decoration: none
       text-color:black
    }
p{
    margin-left:66.6%;
}